.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  label:first-child {
    font-size: 4rem;
    font-weight: bold;
  }

  label i {
    color: #25d366;
  }

  p {
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.3rem;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  height: 3rem;
  padding-left: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  color: #213547;
  box-sizing: border-box;
  background-color: white;
}

.input-wrapper i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #213547;
  font-size: 1.5rem;
  pointer-events: none;
}

.message-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  color: #213547;
  box-sizing: border-box;
  background-color: white;
}

button {
  min-width: 70%;
  max-width: 100%;
  height: 50px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1da851;
}

p {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-top: 10px;
}

input,
textarea {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

textarea {
  padding: 10px;
}

@media (max-width: 375px) {
  .container .logo-container label:first-child {
    font-size: 3rem;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .form-container {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .form-container {
    width: 40%;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  button {
    width: 100%;
  }
}
